@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
    --font-family-main: 'Inter', sans-serif;
    --font-family-secondary: 'Montserrat', sans-serif;
    --font-size: 1rem;
    --fs-xxl: 3.5rem;
    --fs-xl: 3rem;
    --fs-sm: 0.9rem;
    --fs-l: 2.2rem;
    --primary-color: #5E239D;
    --secodary-color: #002;
}



body {
    background: #FBFAFE;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* max-width: 1120px;
    margin: 0 auto; */

    /* padding: 0px 80px; */
}

nav {
    position: sticky;
    top: 0;
    /* width: 100%; */
    background-color: #FBFAFE;
    z-index: 7;
}

/* .main {
    height: 100vh;
} */

.nav-padding {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-family-main);
    padding: 25px 90px;

}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & a {
        color: var(--secodary-color);
        font-size: var(--font-size);
        font-weight: 700;
    }
}

.contact a {
    display: flex;
    font-family: var(--font-family-secondary);
    font-weight: 700;
    font-size: var(--font-size);
    padding: 10px 20px;
    background: var(--primary-color);
    color: #ffff;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 3px #5E239D;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 50px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--secodary-color);
}




.main-hero-section {
    padding: 0px 100px;
    /* height: 100vh; */
    padding-top: 10px;

}



.hero-section {
    /* padding-top: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.text-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    margin-top: 5px;

    & h1 {
        color: var(--secodary-color);
        font-family: var(--font-family-main);
        font-size: var(--fs-xxl);
        font-weight: 700;
        max-width: 600px;
    }

    & p {
        color: var(--secodary-color);
        font-family: var(--font-family-secondary);
        font-size: var(--font-size);
        font-weight: 700;
        max-width: 430px;
        line-height: 30px;
    }

    & a {
        font-family: var(--font-family-secondary);
        font-weight: 700;
        font-size: var(--font-size);
        padding: 10px 20px;
        background: var(--primary-color);
        color: #ffff;
        border-radius: 8px;
        box-shadow: 0px 0px 4px 3px #5E239D;
        max-width: fit-content;
    }

}

.girl-image {
    margin-top: 5px;
    margin-left: -150px;
}

.girl-image img {
    width: 670px;
}

.eclipses-text {
    display: flex;
    align-items: center;
    gap: 25px;
    max-width: 650px;
    margin-top: -60px;

}

.eclipses-container {
    display: flex;
}

.eclipses-container :nth-child(2) {
    margin-left: -20px;
}

.eclipses-container :nth-child(3) {
    margin-left: -20px;
}

.eclipses-container :nth-child(4) {
    margin-left: -20px;
}

.eclipses-container :nth-child(5) {
    margin-left: -20px;
}

.eclipses-container :nth-child(6) {
    margin-left: -20px;
}

.closer-child {
    color: var(--secodary-color);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size);
    font-weight: 700;
}

.second-section {
    padding: 120px 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-textarea {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    flex-direction: column;

    & h2 {
        font-family: var(--font-family-main);
        font-size: var(--fs-xl);
        color: var(--secodary-color);
        font-weight: 700;
    }

    & p {
        font-family: var(--font-family-secondary);
        font-size: var(--font-size);
        font-weight: 700;
        color: var(--secodary-color);
        max-width: 415px;
        line-height: 175.4%;

    }
}

.contact1 {
    font-family: var(--font-family-secondary);
    font-weight: 700;
    font-size: var(--font-size);
    padding: 10px 20px;
    background: var(--primary-color);
    color: #ffff;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 3px #5E239D;
    max-width: fit-content;
}

.baby-image img {
    width: 100%;
}

.third-section {
    padding: 100px 100px 0px;
}

.third-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h2 {
        color: var(--secodary-color);
        font-family: var(--font-family-main);
        font-size: var(--fs-xl);
        font-weight: 700;
    }

    & a {
        border-radius: 8px;
        border: 1px solid #5E239D;
        box-shadow: 0px 0px 8px 3px #2f6cc159;
        color: var(--primary-color);
        font-family: var(--font-family-secondary);
        font-size: var(--font-size);
        font-weight: 700;
        padding: 7px 20px;
    }
}


.card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    padding-top: 35px;
}

.card-container img {
    width: 100%;
}

.fourth-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 130px 100px 0px;
}

.fourth-textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;

    & h2 {
        color: var(--secodary-color);
        text-align: right;
        font-family: var(--font-family-main);
        font-size: var(--fs-xxl);
        /* font-size: 60px; */
        font-weight: 700;
        max-width: 500px;
    }

    & p {
        color: var(--secodary-color);
        text-align: right;
        font-family: var(--font-family-secondary);
        font-size: var(--font-size);
        font-weight: 700;
        line-height: 175.4%;
        max-width: 420px;
    }

    & a {
        font-family: var(--font-family-secondary);
        font-weight: 700;
        font-size: var(--font-size);
        padding: 10px 20px;
        background: var(--primary-color);
        color: #ffff;
        border-radius: 8px;
        box-shadow: 0px 0px 4px 3px #5E239D;
    }
}


.fifth-section {
    padding: 100px 80px 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 35px;

    & h2 {
        text-align: center;
        color: var(--secodary-color);
        font-family: var(--font-family-main);
        font-size: var(--fs-xl);
        font-weight: 700;
    }

    & p {
        text-align: center;
        padding-top: 20px;
        color: var(--secodary-color);
        font-family: var(--font-family-secondary);
        font-size: var(--font-size);
        font-weight: 700;
        line-height: 175.4%;
    }

    & a {
        font-family: var(--font-family-secondary);
        font-weight: 700;
        font-size: var(--font-size);
        padding: 10px 20px;
        background: var(--primary-color);
        color: #ffff;
        border-radius: 8px;
        box-shadow: 0px 0px 4px 3px #5E239D;
    }
}

.route-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.sixth-section {
    padding: 0 110px;
    display: flex;
    position: relative;
    z-index: 5;

}


.innertextarea {
    display: flex;
    align-items: flex-end;
    gap: 60px;
}

.innertextarea {
    text-align: center;
}



.text1 {
    text-align: center;
}

.sixth-textarea {
    margin-left: -620px;
    padding-top: 127px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: flex-end;
}

.sixth-textarea h2 {
    color: var(--secodary-color);
    text-align: right;
    font-family: var(--font-family-main);
    font-size: var(--fs-xl);
    font-weight: 700;
}

.sixth-textarea p {
    color: #002;
    text-align: right;
    font-family: Montserrat;
    font-size: var(--font-size);
    font-style: normal;
    font-weight: 700;
    line-height: 175.4%;
    max-width: 530px;
}


.textt h3 {
    color: var(--secodary-color);
    text-align: center;
    font-family: var(--font-family-secondary);
    font-size: var(--fs-l);
    font-weight: 700;
}

.textt p {
    color: var(--secodary-color);
    text-align: center;
    font-family: var(--font-family-secondary);
    font-size: var(--fs-sm);
    font-weight: 700;
    line-height: 175.4%;
    max-width: 95px;

}

.textp {
    max-width: 510px;
}

.rectangle {
    width: 1180px;
    height: 508px;
    border-radius: 50px;
    background: #EFFAFC;
    position: absolute;
    z-index: -2;
    top: 190px;
    left: 85px;
}

.girloncarpet {
    padding-left: 40px;
}

.wethink p {
    color: var(--secodary-color);
    font-family: var(--font-family-secondary);
    font-size: 20px;
    font-weight: 700;
    line-height: 175.4%;
}

footer {
    display: flex;
    padding: 90px 80px 20px 80px;
    justify-content: space-between;
    flex-wrap: wrap;
}











/*responsiveness*/

@media screen and (max-width:1050px) and (min-width:1025px) {
    .hero-section {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .girl-image {
        margin-left: 180px;
        margin-top: -80px;
    }

    .text-content {
        justify-content: center;
        align-items: flex-start;

    }

    .eclipses-text {
        margin-top: -15px;
    }

    .second-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        /* padding-top: 430px; */
    }

    .second-textarea p {
        max-width: none;
    }

    .baby-image img {
        width: 600px;
    }

    .card-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .card-container img {
        width: 270px;
    }

    .fourth-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        flex-direction: column-reverse;
    }

    .fourth-textarea {
        align-items: flex-end;

        & h2 {
            text-align: right;
            max-width: 570px;

        }

        & p {
            max-width: none;
            text-align: right;
        }
    }

    .sixth-section{
        display: none;
    }


}




@media screen and (max-width:1024px) and (min-width:885px) {
    .hero-section {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .girl-image {
        margin-left: 100px;
        margin-top: -80px;
    }

    .text-content {
        justify-content: center;
    }

    .eclipses-text {
        margin-top: -15px;
    }

    .second-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        /* padding-top: 430px; */
    }

    .second-textarea p {
        max-width: none;
    }

    .baby-image img {
        width: 600px;
    }

    .card-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .card-container img {
        width: 270px;
    }

    .fourth-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        flex-direction: column-reverse;
    }

    .fourth-textarea {
        align-items: flex-end;

        & h2 {
            text-align: right;
            max-width: 570px;

        }

        & p {
            max-width: none;
            text-align: right;
        }
    }

    /* .girloncarpet img {
        width: 750px;
    }

    .rectangle {
        width: 870px;
        height: 380px;
        border-radius: 50px;
        background: #EFFAFC;
        position: absolute;
        z-index: -2;
        top: 130px;
        left: 80px;
    }

    .sixth-textarea h2 {
        font-size: 2.4rem;

    }

    .sixth-textarea {
        margin-left: -480px;
        gap: 15px;
        margin-top: -55px;
    }

    .textt h3 {
        font-size: 2rem;
    }


    .sixth-textarea p {
        font-size: 14px;
    } */

    
    .sixth-section{
        display: none;
    }
}





@media screen and (max-width:884px) and (min-width:769px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    .contact a {
        display: none;
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #FBFAFE;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: 0.3s ease-in-out;
    }

    .nav-menu li {
        margin: 15px 0;
    }

    .nav-menu.active {
        right: 0;
    }


    .hero-section {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .girl-image {
        margin-left: 5px;
        margin-top: -20px;

    }


    .text-content {
        justify-content: center;
    }

    .eclipses-text {
        margin-top: -15px;
    }

    .second-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        /* padding-top: 480px; */
    }

    .second-textarea p {
        max-width: none;
    }

    .baby-image img {
        width: 600px;
    }

    .card-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .card-container img {
        width: 270px;
    }

    .fourth-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        flex-direction: column-reverse;
    }

    .fourth-textarea {
        align-items: flex-end;

        & h2 {
            text-align: right;
            max-width: 570px;

        }

        & p {
            max-width: none;
            text-align: right;
        }
    }

    .route-cards img {
        width: 270px;
    }

    .girloncarpet img {
        width: 750px;
    }

    .rectangle {
        width: 870px;
        height: 380px;
        border-radius: 50px;
        background: #EFFAFC;
        position: absolute;
        z-index: -2;
        top: 190px;
        left: 85px;
    }

    
    .sixth-section{
        display: none;
    }
}






@media screen and (max-width:768px) and (min-width:640px) {
    :root {
        --font-size: 0.9rem;
        --fs-xxl: 3rem;
        --fs-xl: 2.8rem;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    .contact a {
        display: none;
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #FBFAFE;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: 0.3s ease-in-out;


    }



    .nav-menu li {
        margin: 15px 0;
    }

    .nav-menu.active {
        right: 0;
    }


    .hero-section {
        flex-wrap: wrap;
        justify-content: space-between;
    }



    .girl-image {
        margin-left: 50px;
        margin-top: -20px;

    }

    .girl-image img {
        width: 500px;
    }

    .text-content {
        justify-content: center;
    }

    .eclipses-text {
        margin-top: -15px;
    }

    .eclipses-container img {
        width: 40px;
    }

    .second-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        /* padding-top: 300px; */
    }

    .second-textarea p {
        max-width: none;
    }

    .baby-image img {
        width: 450px;
    }

    .card-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .card-container img {
        width: 200px;
    }

    .third-heading {
        flex-direction: column;
        gap: 20px;
    }

    .fourth-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        flex-direction: column-reverse;
    }

    .fourth-textarea {
        align-items: flex-end;

        & h2 {
            text-align: right;
            max-width: 570px;

        }

        & p {
            max-width: none;
            text-align: right;
        }
    }

    .Children img {
        width: 450px;
    }

    .route-cards img {
        width: 200px;
    }

    
    .sixth-section{
        display: none;
    }
}




@media screen and (max-width:639px) and (min-width:424px) {

    :root {
        --font-size: 0.9rem;
        --fs-xxl: 2.8rem;
        --fs-xl: 2.2rem;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    .contact a {
        display: none;
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #FBFAFE;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: 0.3s ease-in-out;
    }

    .nav-menu li {
        margin: 15px 0;
    }

    .nav-menu.active {
        right: 0;
    }


    .hero-section {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px;
        align-items: center;
    }

    .girl-image img {
        width: 100%;
    }

    .girl-image {
        margin-left: -25px;
    }


    .text-content {
        justify-content: center;
        align-items: flex-start;

        & h1 {
            max-width: 468px;
            /* margin: 0 auto; */
            text-align: left;
        }

        & p {
            max-width: 400px;
            /* margin: 0 auto; */
            text-align: left;
        }

    }

    .eclipses-text {
        margin-top: 0;
        margin-left: 20px;
        display: none;
    }

    .second-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        /* padding-top: 320px; */
    }

    .second-textarea p {
        max-width: none;
    }

    .baby-image img {
        width: 100%;
    }

    .card-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .card-container img {
        width: 150px;
    }

    .third-heading {
        flex-direction: column;
        gap: 20px;

        & h2 {
            text-align: center;
        }
    }

    .fourth-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        flex-direction: column-reverse;
    }

    .fourth-textarea {
        align-items: center;

        & h2 {
            text-align: center;
            max-width: none;

        }

        & p {
            max-width: none;
            text-align: center;
        }
    }

    .Children img {
        width: 100%;
    }

    .route-cards img {
        width: 200px;
    }

    .nav-padding {
        padding: 25px 80px;
    }

    .main-hero-section {
        padding: 0px 80px;
    }

    .second-section {
        padding: 120px 80px 0px;
    }

    .third-section {
        padding: 70px 80px 0px;
    }

    .fourth-section {
        padding: 100px 80px 0px;
    }


    .fifth-section {
        padding: 100px 80px;
    }

    
    .sixth-section{
        display: none;
    }
}




@media screen and (max-width:425px) and (min-width: 250px) {
    :root {
        --font-size: 0.9rem;
        --fs-xxl: 2.2rem;
        --fs-xl: 2rem;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-padding {
        justify-content: center;
        gap: 52px;
    }

    .contact a {
        display: none;
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #FBFAFE;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: 0.3s ease-in-out;
    }

    .nav-menu li {
        margin: 15px 0;
    }

    .nav-menu.active {
        right: 0;
    }


    .hero-section {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px;
        align-items: center;
    }


    .girl-image img {
        width: 100%;
    }

    .girl-image {
        margin-left: -8px;
    }


    .text-content {
        justify-content: center;
        align-items: center;

        & h1 {
            /* max-width: 468px; */
            /* margin: 0 auto; */
            text-align: center;
        }

        & p {
            max-width: 400px;
            /* margin: 0 auto; */
            text-align: center;
        }

    }

    .eclipses-text {
        margin-top: 0;
        margin-left: 20px;
        display: none;
    }

    .second-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        /* padding-top: 320px; */
    }

    .second-textarea {
        align-items: center;

        & p {
            max-width: none;
        }

    }

    .baby-image img {
        width: 100%;
    }

    .card-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .card-container img {
        width: 150px;
    }

    .third-heading {
        flex-direction: column;
        gap: 20px;

        & h2 {
            text-align: center;
        }
    }

    .fourth-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        flex-direction: column-reverse;
    }

    .fourth-textarea {
        align-items: center;

        & h2 {
            text-align: center;
            max-width: none;

        }

        & p {
            max-width: none;
            text-align: center;
        }
    }

    .Children img {
        width: 100%;
    }

    .route-cards img {
        width: 180px;
    }

    .main-hero-section {
        padding: 0px 80px;
    }

    .second-section {
        padding: 120px 80px 0px;
    }

    .third-section {
        padding: 70px 80px 0px;
    }

    .fourth-section {
        padding: 100px 80px 0px;
    }


    .fifth-section {
        padding: 100px 80px;
    }

    
    .sixth-section{
        display: none;
    }


}